body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.logo {
  margin-right: 10px;
  transition: all .5s;
  border: 10px solid transparent ;
  border-radius: 50%;
}

.img-container {
  background: rgba(110, 110, 110, 0.3);
  display: inline-block;
  border-radius: 50%;  
  padding: 10px; 
}



.full-height {
  min-height: calc(100vh - 56px - 48px); /* Descontando a altura da navbar e a altura da aba */
  background-color: rgb(110, 110, 110);
  padding: 1rem;
}


.form-container {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

a.text-decoration-none:hover {
  text-decoration: underline;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.box {
  width: 400 px;
}
