<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-secondary">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/imgs/logo.jpg" alt="Logo" class="logo" width="200" height="auto"
          class="d-inline-block align-text-top">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <form action="/logout" method="post">
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="attendance-tab" data-bs-toggle="tab" href="#attendance" role="tab"
        aria-controls="attendance">Lista de Presença</a>
    </li>
  </ul>
  <div class="tab-content full-height" id="myTabContent">
    <div class="tab-pane show bg-white p-3" id="attendance" role="tabpanel" aria-labelledby="attendance-tab">
      <table class="text-center table table-bordered table-hover mt-4" id="attendance">
        <thead>
          <tr>
            <th>Nome do Aluno</th>
            <th>Presença</th>
          </tr>
        </thead>
        <tbody>
          <!-- Lista de alunos da aula -->
        </tbody>
      </table>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" id="registrarPresenca">Enviar Lista de Presença</button>
      </div>
    </div>
  </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img src="/imgs/logo.jpg" alt="Logo" class="logo mb-3" width="300" height="auto">
          <h5 class="modal-title mb-4" id="welcomeModalLabel"></h5>
          <h6>Selecione a aula que irá ministrar:</h6>
          <select id="aulaSelect" class="form-select mb-3" aria-label="Selecione a aula">
            <option selected>Escolha uma aula</option>
          </select>
          <button type="button" class="text-center btn btn-primary" data-bs-dismiss="modal" id="startClassBtn">Lista de
            Presença</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="optionModal" tabindex="-1" aria-labelledby="optionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img src="/imgs/logo.jpg" alt="Logo" class="logo mb-3" width="300" height="auto">
          <h5 class="modal-title mb-4" id="optionModalLabel"></h5>
          <h>O que voce gostaria de fazer:</h>
          <div class="d-flex justify-content-between mt-3" style="max-width: 300px; margin: auto;"> 
            <button type="button" class="text-center btn btn-primary" data-bs-dismiss="modal" id="openWelcomeModal">Iniciar Aula</button>
            <button type="button" class="text-center btn btn-primary" data-bs-dismiss="modal" id="openReports">Emitir Relatórios</button>
        </div>
        </div>
      </div>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/scripts.js"></script>
  <script id="userAndAulasData" type="application/json">
    <%- JSON.stringify({userInfo: userInfo, aulas: aulas}) %>
  </script>
  


</body>

</html>