<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Infinity Flow - Cadastro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="projects/views/css/style.css">
</head>

<body class="bg-secondary">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/static/imgs/logo.jpg" alt="Logo" class="logo" width="100" height="auto"
                    class="d-inline-block align-text-top">
      </a>
    </div>
  </nav>
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="bg-white rounded p-4 shadow-lg data-container" style="width: 400px;">
      <h1 class="text-center mb-4">
        <img src="/static/imgs/logo.jpg" alt="InfinityFlow" class="logo" width="100" height="auto"
                    class="d-inline-block align-text-top">
      </h1>

      <div id="registerPage" class="page active form-container">
        <form action="/register" method="post">
          <div class="mb-3">
            <label for="registerNameInput" class="form-label">Nome</label>
            <input type="text" class="form-control" id="registerNameInput" name="registerNameInput"
              placeholder="Digite seu nome">
          </div>
          <div class="mb-3">
            <label for="registerRoleInput" class="form-label">Cargo</label>
            <input type="text" class="form-control" id="registerRoleInput" name="registerRoleInput" value="PROFESSOR"
              readonly disabled style="opacity: 0.5;">
          </div>

          <div class="mb-3">
            <label for="registerEmailInput" class="form-label">Email</label>
            <input type="email" class="form-control" id="registerEmailInput" name="username"
              placeholder="Digite seu email">
          </div>
          <div class="mb-3">
            <label for="registerPasswordInput" class="form-label">Senha</label>
            <input type="password" class="form-control" id="registerPasswordInput" name="password"
              placeholder="Digite sua senha">
          </div>
      </div>
      <button type="submit" class="btn btn-primary w-100 mb-3">Cadastrar</button>
      <div class="text-center">
        <a href="/login" id="loginLink" class="text-decoration-none">Já possui uma conta? Faça login</a>
      </div>
      </form>
    </div>
  </div>
  </div>

  <script src="js/scripts.js"></script>
</body>

</html>